/* Mobile Variables   -- mobile first -- */
:root {
  /* Fonts variables */
  --font-size-bigger: 1.5rem;
  --font-size-big: 1.125rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;
  --font-size-logo-header: 1.5rem;
  --font-size-logo-footer: 2.25rem;

  /* Colors */
  --basic-color: #333;
  --accent-color: #2d9cdb;
  --attention-color: #EB5757;
  --basic-background-color: #fff;
  --email-background-color: #f2f2f2;
  --footer-color: #fff;
  --footer-color-dimmed: #f2f2f2;
  --footer-color-grey: #828282;
  --footer-backround-color: #100E1D;
  --valid-color: #e7f7e7;
  --invalid-color: #f1e3e3ab;
  --button-color-accent: #fff;
  --button-background-color-accent: #2d9cdb;
  --button-color: #828282;
  --button-background-color: #E0E0E0;
  --service-icon-ui-ux-color: #2D9CDB;
  --service-icon-frontend-color: #27AE60;
  --service-icon-backend-color: #EB5757;

  /* Margins */
  --margins-sides-wide: 0.625rem;
  --margins-sides-small: 2.5rem;
  --margins-top-bottom: 1rem;

  /* Borders */
  --border-radius: 12px;
}

/* Desktop variables */
@media only screen and (min-width: 768px) {
  :root {
    /* Fonts variables */
    --font-size-bigger: 2.25rem;
    --font-size-big: 1.125rem;
    --font-size-small: 0.75rem;
    --font-size-logo-header: 2.25rem;
    --font-size-logo-footer: 2.25rem;

    /* Margins */
    --margins-sides-wide: 5%;
    --margins-sides-small: 10%;
  }
}

/* General settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: 1px red solid; */
}

body {
  background: var(--basic-background-color);
  color: var(--basic-color);
  font-family: Poppins, sans-serif;
}

/* Maine title */
.main-title {
  display: none;
}

/* Mobile */

/* Hheader and Menu */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margins-top-bottom) var(--margins-sides-wide);
}

.logo__link {
  color: var(--basic-color);
  font-weight: 800;
  font-size: var(--font-size-logo-header);
  font-family: Heebo, sans-serif;
  text-decoration: none;
}

/* Section for hamburger menu */
.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu__hamburger {
  display: block;
  position: relative;
  transition: background 0.2s ease-in-out;
  background: var(--basic-color);
  width: 18px;
  height: 2px;
}

.hamburger-menu__hamburger::after,
.hamburger-menu__hamburger::before {
  display: block;
  position: absolute;
  transition: all 0.2s ease-in-out;
  background: var(--basic-color);
  width: 100%;
  height: 100%;
  content: '';
}

.hamburger-menu__hamburger::before {
  top: 5px;
}

.hamburger-menu__hamburger::after {
  top: -5px;
}

.hamburger-menu__checkbox {
  display: none;
}

.hamburger-menu__label {
  cursor: pointer;
  padding: 5px;
}

.hamburger-menu__checkbox:checked~label span {
  background: transparent;
}

.hamburger-menu__checkbox:checked~label span::before {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger-menu__checkbox:checked~label span::after {
  top: 0;
  transform: rotate(45deg);
}

/* Menu Section */
.menu {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  visibility: hidden;
  transition: height 0.2s ease-in-out;
  width: 0;
  height: 0;
  list-style: none;
}

.hamburger-menu__checkbox:checked~.menu {
  visibility: visible;
  background: var(--basic-background-color);
  width: 100%;
  height: 90%;
}

.menu__link {
  color: var(--basic-color);
  text-decoration: none;
}

/* Hero section */
.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
  font-size: var(--font-size-small);
}

.section-hero {
  margin-top: 1rem;
}

.section__text,
.section__text--contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 var(--margins-sides-small);
}

.section__provoking-question {
  color: var(--accent-color);
  font-weight: 500;
  font-size: var(--font-size-small);
}

.section__motivations {
  font-weight: 500;
  font-size: var(--font-size-bigger);
}

.section__hero-container {
  padding: 0 var(--margins-sides-wide);

}

.section__hero-image {
  border-radius: var(--border-radius);
  width: 100%;
  background-image: url("img/heroImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 3;
}

/* Contact Form */
.contact__input {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  margin-top: 0.2rem;
  border-radius: var(--border-radius);
  background: var(--email-background-color);
  padding: 0.4rem;
}

.contact__email {
  border-style: none;
  background: var(--email-background-color);
  width: 100%;
}

.contact__email:invalid {
  background: var(--invalid-color);
}

.contact__email:placeholder-shown {
  background: var(--background-primary-color);
}

.contact__email:valid {
  background: var(--valid-color);
}

.contact__button {
  border-style: none;
  border-radius: var(--border-radius);
  background: var(--button-background-color-accent);
  padding: 0.6rem 1rem;
  color: var(--button-color-accent);
}

/* Services Section */
.section__text--services {
  gap: 5rem;
}

.services-container,
.service-card {
  display: flex;
  flex-flow: column;
}

.service-card {
  gap: 2rem;
}

.services-container {
  gap: 8rem;
  padding: 0 var(--margins-sides-small);
}

.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color-accent);
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 8px;
}

.service__icon--ui-ux {
  background: var(--service-icon-ui-ux-color);
}

.service__icon--frontend {
  background: var(--service-icon-frontend-color);
}

.service__icon--backend {
  background: var(--service-icon-backend-color);
}

.service__icon-symbol {
  font-size: 3rem;
}

.service-card__header {
  font-size: var(--font-size-bigger);
}

.service-card__text {
  font-size: var(--font-size-normal);
}

.service-card__button {
  background: var(--button-background-color);
  color: var(--button-color);
  font-size: var(--font-size-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  border-style: none;
}

.service-card__button--accent {
  background: var(--button-background-color-accent);
  color: var(--button-color-accent);
}

/* Works section */
.works {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 var(--margins-sides-wide);
}

.work__image-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
}

.work__image {
  width: 100%;
  border-radius: 16px;
}

.work__image-box--fullstack {
  background: #EB5757;
}

.work__image--fullstack {
  transform: rotate(-10deg) scale(1.3) translateX(5%) translateY(-5%);
}

.work__image--frontend {
  transform: scale(1.1);
}

.works__caption {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-top: 0.6rem;
}


.works__service {
  color: var(--button-color);
  font-weight: 200;
}

.works__description {
  font-size: var(--font-size-big);
}

.see-more__link {
  font-weight: 500;
  font-size: var(--font-size-big);
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--accent-color);
}

.see-more__link::after {
  position: relative;
  left: 0.6em;
  content: '➞';
}

/* Contact section */
.section__contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__contact-header {
  display: flex;
  flex-direction: column;
}

.section__attention {
  font-size: var(--font-size-big);
  font-weight: 500;
  color: var(--attention-color);
  order: -1;
}

.team {
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-template-rows: 6fr;
  gap: 0.6rem;
}

.team__member-img {
  width: 100%;
  border-radius: 16px;
}

.team__member-img--1 {
  grid-column: 1/2;
  grid-row: 3 / 5;
}

.team__member-img--2 {
  grid-column: 2/3;
  grid-row: 1 / 4;
  width: 90%;
}

.team__member-img--3 {
  grid-column: 2/3;
  grid-row: 4 / 7;
}

/* Clients section */
.card {
  display: flex;
  gap: 1rem;
}

.card__image {
  width: 6rem;
  border-radius: 10px;
}

.card__name {
  font-size: var(--font-size-bigger);
  font-weight: 500;
}

.card__function {
  font-size: var(--font-size-big);
  font-weight: 500;
  color: var(--button-color);
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr;
  margin-top: 6rem;
  color: var(--footer-color);
  background: var(--footer-backround-color);
  padding: 3rem var(--margins-sides-small) 2rem;
  gap: 2rem;
}

.menu-footer {
  gap: 4em;
  list-style: none;
  height: min-content;
}

.menu-footer__link {
  color: var(--footer-color);
  text-decoration: none;
}

.logo-footer {
  color: var(--footer-color);
  font-size: var(--font-size-logo-footer);
}

.footer__socials {
  display: flex;
  gap: 0.6rem;
}

.section__salestext--footer {
  font-size: var(--font-size-small);
  color: var(--footer-color);
  padding: 0.3rem;
}


.footer__created-by {
  font-family: Poppins, sans-serif;
  color: var(--footer-color-dimmed);
  text-align: center;
  font-size: var(--font-size-small);
  grid-row: 6/7;
}


/* Desktop */
@media only screen and (min-width: 500px) {
  .header {
    gap: 4rem;
  }

  .hamburger-menu__label {
    display: none;
  }

  .menu {
    position: static;
    flex-flow: row;
    visibility: visible;
    width: 100%;
    font-weight: 500;
    gap: 1rem;
  }

  .menu__link {
    font-size: var(--font-size-big);
  }

  .section__salestext {
    font-size: var(--font-size-big);
  }

  .section__motivations,
  .section__salestext {
    width: 60%;
  }

  .section__salestext--desktop {
    width: 100%;
  }

  /* Services section */
  .services-container {
    flex-flow: row;
    gap: 2rem;
    padding: 0 var(--margins-sides-wide);
  }

  .service-card {
    padding: 1rem;
  }

  .service-card__header {
    font-size: var(--font-size-big);
  }

  .service-card__text {
    font-size: var(--font-size-normal);
  }

  .service-card--middle-desktop {
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(51 51 51 / 20%);
  }

  /* Work section */
  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0 var(--margins-sides-wide);
    column-gap: 1.4rem;
    row-gap: 5rem;
  }

  .work__figure--first {
    grid-column: 1/2;
    grid-row: 2/6;
  }

  .work__figure--second {
    grid-column: 1/2;
    grid-row: 6/10;
  }

  .work__figure--third {
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .work__figure--fourth {
    grid-column: 2/3;
    grid-row: 5/9;
  }

  .see-more__link {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  .section__contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .section__motivations--desktop,
  .section__attention--desktop,
  .section__salestext--desktop {
    width: 100%;
  }

  /* Footer */
  .footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 2rem;
  }

  .menu-footer {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .footer__logo-and-socials-container {
    grid-column: 3/6;
    grid-row: 1/2;
  }

  .contact--footer {
    grid-column: 6/9;
    grid-row: 1/2;
  }

  .footer__created-by {
    grid-column: 1/9;
    grid-row: 2/3;
  }

  .section__salestext--footer {
    font-size: var(--font-size-small);
    width: 100%;
  }

}